rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // TEMPORARY TEST RULES -- DO NOT LEAVE IN PRODUCTION
    // Allow any authenticated user to read/write all documents. Use only for debugging.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
